* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background:
        linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url(imgs/background.png) no-repeat right bottom fixed;
    color: white;
    font-family: "Times New Roman";

    padding: 22px 30px;
    padding-bottom: 5px;
}

@media only screen and (min-width: 769px) {
    body {
        background: rgb(17, 16, 16);
    }
}

header h1 {
    text-align: center;
    margin-bottom: 5px;
    font-size: 28px;
}

main h2 {
    margin-bottom: 5px;
}

label {
    font-size: 14px;
}

input[type="text"],
input[type="number"] {
    font-size: 14px;
    padding: 5px 8px;
    text-align: center;

    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
}

button {
    border: none;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: 0.7;
}

.c-flex {
    display: flex;
    flex-direction: column;
    gap: 14px;
    margin-bottom: 18px;
}

/* <------ CANTIDAD DE ESTUDIANTES ------> */

.cantidadInputs {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.cantidadInputs div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cantidadLabel {
    margin-bottom: 5px;
}

.cantidadInput {
    width: 65px;
}

/* <------ RESPUESTAS DEL TEST ------> */

.respuestasSection {
    display: flex;
    flex-direction: column;
}

.respuestasSection div {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.respuestasInput {
    width: 60%;
    padding: 8px;
}

.limpiarButton {
    width: 18%;
    padding: 7px 0;
    background-color: white;
}

.respuestasButton {
    padding: 10px;
    background: gold;
    margin-top: 20px;
}

/* <------ RESULTADOS ------> */

#puntos {
    font-size: 16px;
    margin-bottom: 8px;
}

#resultado {
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.185);
}

/* Colores de cada casa */
.casa.gryffindor {
    color: #910d27 ;
}
.casa.ravenclaw {
    color: #1260ae;
}
.casa.hufflepuff {
    color: #eee117;
}
.casa.slytherin {
    color: #3cb371;
}
